@import '_var';
@import 'modules/header';
@import 'modules/content-links';
@import 'modules/footer';
@import 'modules/selection';
@import 'modules/login';
// sass --watch sass/master.scss:css/main.css

.hide {
    display: none;
}

#logo {
    max-width: 30%;
    margin-top: 130px;
    // text-align: center;
}

#banner {
    margin-left: 30px;
}

#parentsHeader {
    color: $purple-text;
    margin-left: 50px;
}

.bannerText {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}

.questions {
    margin-top: 1050px;
    position: relative;
    margin-left: 120px;
}

.questions2 {
    margin-top: 80px;
    margin-left: 120px;
    position: relative;
}

.questions3 {
    margin-top: 80px;
    margin-left: 120px;
    position: relative;
    padding-bottom: 50px;
}

.questions3 p {
    width: 650px;
}


.questions h2 {
    color: $dark-gray-header;
}

.questions ul li {
    list-style-type: none;
}

.questions2 ul li {
    list-style-type: none;
}

.questions ul li a {
    color: $purple-text;
}

.questions2 ul li a {
    color: $purple-text;
}

.questions3 p {
    color: $purple-text;
}