#contentLinks {
    float: left;
    padding: 10px;
    width: 500px;
    margin-top: 60px;
}

.rowLinks {
    position:relative; 
    max-width:1100px; 
    // margin: 0 auto; 
    text-align:center;
     list-style-type: none;
}

.rowLinks li {
    width: 1450px;
}
.imgLinks {
    position:relative; 
    display:inline-block; 
    width:30%;
    max-width:1280px; 
    margin: 0 auto; 
    // padding: 0px 10px 0px 10px;
   
}

.imageCaptions {
    color: $dark-gray-header;
}


#entryLinks {
    float: left;
    padding: 10px;
    margin-top: 40px;
}

.entryrowLinks {
    position:relative; 
    max-width:800px; 
    // margin: 0 auto; 
    text-align:center;
     list-style-type: none;
}

.entryrowLinks li {
    width: 1450px;
}
.entryimgLinks {
    position:relative; 
    display:inline-block; 
    width:45%;
    max-width:1280px; 
    margin: 0 auto; 
    // padding: 0px 10px 0px 10px;
   
}

.entryimageCaptions {
    color: $purple-text;
    font-weight: bold;
    font-size: 30px;
}


