#headerCon {
    background-color: $dark-gray-header;
    position: fixed; 
    z-index: 1;
  }
  
  #mainNav {
    margin: 0;
    padding: 0;
    // margin-top: 5px; 
    margin-left: 30px;

  }

  #iconNav {
 margin-top: -70px; 
  // margin-bottom: 5px;
    list-style-type: none;
    margin-right: 0px;
    width: 500px;
    padding: 0;
  }

  .iconNavSVG {
    width: 100%;
    float: right;
  }

  // #iconNav li a {
  //   display: inline;
  // }
  
  #mainNav li {
    float: left;
    list-style-type: none;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px; 
    padding-bottom: 10px;
  
  }
  
  ul {
    list-style-type: none; }
  
  #mainNav li a {
    display: inline;
    text-align: center;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    text-decoration: none;
    color: $white-text;
    font-family: $main-font;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out; }
  
  #mainNav li a:hover, #submit:hover {
    color: #7579be; }