#loginSection {
    padding-left: 600px;
    padding-top: 60px;
    width: 1000px;
}

#submitButton2 {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    float: right;
  
    margin-bottom: 30px;
    font-family: $main-font;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}